.sidenav-container {
  height: calc(100vh - 65px);
}

.sidenav {
  width: 200px;
  border-radius: 10px;
  margin: 16px;
}

.content{
  min-height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
}
